# Environments
.venv/
venv/
__pycache__/
*.pyc

# Env files
.env

# Database
*.db
*.sqlite3

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
